body {
  background-image: url("print.jpg");
}

ul {
  font-size: 35px;
  color: black;
  background-color: burlywood;
  width: 500px;
  border: 15px solid black;
  padding: 50px;
  margin: 40px;
  position: absolute;
  left: 600px;
  top: 130px;
}

h1 {
  padding-left: 30%;
  background-color: burlywood;
  font-size: 70px;
}

.gif {
  position: absolute;
  left: 100px;
  top: 170px;
}
